.searchResults {
  margin-top: 4rem;
  display: flex;
  gap: 2rem;

  & h1 {
    font-size: 2.5rem;
    margin: 0;
  }

  & h1 + p {
    margin-top: 1.5rem;
    font-size: 0.75rem;
  }

  & h2 {
    margin: 1rem 0 0;
    font-size: 1.125rem;
  }

  & ul {
    list-style: initial;
    margin: initial;
    margin-bottom: 2rem;
    padding: 0 0 0 2.5rem;
  }

  & ul li {
    display: list-item;
  }
}

.heroImg {
  height: 33rem;
  max-width: 33rem;
  border-radius: 1rem;
}