* {
  box-sizing: border-box;
  font-family: "Lato", "sans-serif";
  --light-blue: #F1F2F3;
  --disney-blue: #054553;
  --disney-blue-accent: #1f879e;
}

html, body {
  margin: 0;
  padding: 0;
}

body {
  margin: 0 auto;
  max-width: 75rem;
}

main {
  background-color: var(--light-blue);
  padding: 1rem 0rem 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

ul li {
  margin:0;
  padding: 0;
  text-indent: 0;
}